body{
    background-color: rgb(149, 141, 226);
    font-family: Courier, monospace;
}
.center{
    display: flex;
    justify-content: center;
    width: 100%;
}
.border{
    border: 0.05em solid red;
}
.img{
    width: 400px;
    height: auto;
    display: flex;
    margin: auto;
}